<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>

<body>
    <h1>Users table</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>LASTNAME</th>
            <th>E-MAIL</th>
        </tr>

        <tr th:each="user: ${users}" >
            <td th:text="${user.id}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
        </tr>
    </table>

    <h2> Create </h2>
    <form action="/addUser" method="POST">
        Name:<input
            type="text"
            name="name"><br />
        Lastname:<input
            type="text"
            name="lastName"><br />
        Email:<input
            type="text"
            name="email"><br />

        <button type="submit">Add User</button>
    </form>

    <h2> Delete </h2>
    <form action="/deleteUser" method="POST">
        ID: <input type="number"  name="id"/><br />

        <button type="submit">delete User</button>
    </form>

    <div>
            <h1 th:text="${msg}"></h1>
    </div>

</body>
</html>